$mainc: #333234;
$bgc: #ebe2cf;
$gallery-bgc: #fefefe;
$white: #fff;
$transparent: rgba(0, 0, 0, 0.7);
$btn-hover: #d4c9b0;
$dark: #1a1a1a;
$mainc-product: #b6a37d;
// $mainc-product: #009688;
$lightgray-product: #86939e;
$heading-product: #1b1919;

$gallery-box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.4);

$icon-margin: 2px;

// footer
$actual-year: '2023';
// delivery price
$delivery-price1: '15 PLN';
$delivery-price2: '16 PLN';